/local
/datasets
*.h5
*.npy
*.npz
*.npz.metadata
*.cprof
*.lin
/1/
*.log
*.png

exoplanet_transit_snr/_*.html
exoplanet_transit_snr/_*.c
syntherr.log

# Molecfit products
telluriccorr_tmp_folder_*/
examples/data/
ATM_PARAMETERS.fits
BEST_FIT_PARAMETERS.fits
MODEL_CHIPS_COMBINED.fits
MODEL_MOLECULES.fits
MOLECFIT_DATA.fits
BEST_FIT_MODEL.fits
WAVE_INCLUDE.fits
.logfile
input_spectrum.fits
*.rc
*.sof
ATM_PROFILE_COMBINED.fits
ATM_PROFILE_STANDARD.fits
CALCTRANS_CHIPS_COMBINED.fits
GDAS_AFTER.fits
GDAS_BEFORE.fits
GDAS.fits
LBLRTM_RESULTS.fits
TELLURIC_CORR.fits
TELLURIC_DATA.fits
