astroplan
astropy
matplotlib
numpy
pandas
scipy
tqdm
cache-decorator

git+https://github.com/AWehrhahn/CATS.git
git+https://github.com/AWehrhahn/datasources
git+https://github.com/AWehrhahn/ExoOrbits
# git+https://github.com/AWehrhahn/PyPSG.git
