astroplan
astropy
git+https://github.com/AWehrhahn/CATS.git
git+https://github.com/AWehrhahn/datasources
git+https://github.com/AWehrhahn/ExoOrbits

git+https://github.com/AWehrhahn/PyPSG.git
matplotlib
numpy
pandas
scipy
skimage
tqdm
